.vs/Health-Joy-Backend-Mobile/FileContentIndex/e657f9ca-35ed-4e6c-9565-3000b10bb6b2.vsidx
.vs/slnx.sqlite
.vs/Health-Joy-Backend-Mobile/FileContentIndex/0c7bb891-43dc-4346-9315-160af85207b6.vsidx
.vs/Health-Joy-Backend-Mobile/FileContentIndex/d77b73f1-a72a-47de-b616-5b8093444d61.vsidx
.vs/Health-Joy-Backend-Mobile/FileContentIndex/117941c0-1ed3-4d9b-bf31-9b37d50dfc70.vsidx
.vs/slnx.sqlite
